<header class="header">
  <div class="upper-header">
    <p class="upper-header_text">SPRING BUNDLE SALE!     USE CODE:SPRING20</p>
  </div>
  <div class="lower_header">
    <img src="{{ 'Group.jpg' | asset_url }}" alt="" />
    <nav class="navbar">
      <a href="">Why MagicMassage</a>
      <a href="">Features</a>
      <a href="">Reviews</a>
      <a href="">FAQ</a>
    </nav>
    <button>Order Now</button>
  </div>
</header>
 {% stylesheet %}
    .header{
        padding-left:50px;
    }
{% endstylesheet %} 


{% schema %}
    {
      "name": "Header"
    }
  {% endschema %}
