<header class="header">
  <div class="">
    <img src="{{ 'Group.jpg' | asset_url }}" alt="" />
    <nav class="navbar">
      <a href="">Why MagicMassage</a>
      <a href="">Features</a>
      <a href="">Reviews</a>
      <a href="">FAQ</a>
    </nav>
    <button>Order Now</button>
  </div>
</header>

{% schema %}
    {
      "name": "Header"
    }
{% endschema %}
